@keyframes item_loader {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
body, html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.header {
  padding: 1rem;
  position: relative;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}
.header_logo {
  font-family: "shrikhand", "cursive";
  text-align: center;
  margin: 0;
}

.footer {
  background-color: #353535;
  /* @media screen and (min-width: 1024px) {
    padding-left: 80px;   
   } */
}
.footer_container {
  display: flex;
  flex-direction: column;
  padding: 25px 20px 35px 25px;
}
@media screen and (min-width: 1024px) {
  .footer_container {
    position: relative;
    margin: 0 100px 0 100px;
    padding: 25px 0 35px 0;
  }
}
.footer_logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 19px;
  margin-bottom: 16px;
}
.footer_column {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer_title {
  margin: 8px 0;
}
.footer_title:first-child {
  margin-top: 0;
}
.footer_title:last-child {
  margin-bottom: 0;
}
.footer_link {
  color: white;
  text-decoration: none;
}
.footer_link:hover {
  text-decoration: underline;
}
.footer_icon {
  width: 19px;
  margin-right: 8px;
}

.header--buttonBack {
  position: relative;
}
.header_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 19px;
  color: #000000;
  width: 32px;
  top: 30px;
}

.cardImage {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .cardImage {
    max-width: 100%;
    max-height: 512px;
    width: 100%;
    object-fit: cover;
  }
}

.menus {
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .menus {
    /* margin: 0 310px 0 310px; */
    margin: 0 100px 0 100px;
  }
}
.menus_header {
  /* display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 16px 32px 0 16px;
   border-radius: 20px; */
  position: relative;
  display: flex;
  transform: translateY(-50px);
  border-radius: 42px 42px 0 0;
  background-color: #F6F6F6;
  padding: 16px 32px 0 16px;
  align-items: center;
  justify-content: space-between;
}
.menus_header .like_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  height: 24px;
  width: 24px;
  border: transparent 0px solid;
  padding: 0;
}
.menus_header .like_button:hover {
  opacity: 1;
}
.menus_header .like_button:hover i.menu_like--noBg {
  opacity: 0;
}
.menus_header .like_button:hover i.menu_like--bg {
  opacity: 1;
}
.menus_header .like_button i {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.25s;
  position: absolute;
  top: 0;
  left: 0;
}
.menus_header .like_button i.menu_like--bg {
  opacity: 0;
  background-image: linear-gradient(-4deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  color: transparent;
}
.menus_header .like_button i.menu_like--noBg {
  color: #4b4b4b;
}
.menus_title {
  font-family: "Shrikhand", "cursive";
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
}
.menus_btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 32px;
  height: 32px;
  padding: 0;
  border: 0 solid transparent;
  background-color: transparent;
}

.menusCards {
  display: grid;
  background-color: #f6f6f6;
  margin-top: -64px;
}
@media screen and (min-width: 1024px) {
  .menusCards {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
  }
}

.menusCard {
  max-width: 100%;
  overflow: hidden;
  padding: 0 16px;
}
.menusCard_title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 8px;
  font-weight: normal;
}
.menusCard_title::after {
  content: "";
  width: 48px;
  height: 4px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menusItem {
  background-color: white;
  display: flex;
  border-radius: 12px;
  margin: 16px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  padding: 15px;
}
.menusItem_header {
  flex: 1;
}
.menusItem_title {
  margin: 0;
}
.menusItem_description {
  margin: 0;
}
.menusItem_price {
  display: flex;
  align-items: flex-end;
  font-weight: 700;
}
.menusItem_validate {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  width: 64px;
  margin: -1rem -5rem -1rem 1rem;
  transition-duration: 0.5s;
}
.menusItem:hover .menusItem_validate {
  margin-right: -1rem;
}
.menusItem_validateIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  background-color: white;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menusItem:hover .menusItem_validateIcon {
  transform: rotate(0);
}
.menusItem_icon {
  color: #99E2D0;
}

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 48px 0;
}

.commandBtn {
  border: 0;
  border-radius: 100px;
  padding: 0 24px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-image: linear-gradient(-4deg, #9356DC, #FF79DA);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  height: 50px;
  display: inline-flex;
  align-items: center;
  line-height: 20px;
  cursor: pointer;
}
.commandBtn:hover {
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.commandBtn a {
  text-decoration: none;
  color: inherit;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader_item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 1s;
  animation-iteration-count: 1;
}
.loader_itemContainer {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
.loader_item--1 {
  background-color: #9356DC;
}
.loader_item--2 {
  background-color: #FF79DA;
  animation-delay: 0.25s;
}
.loader_item--3 {
  background-color: #99E2D0;
  animation-delay: 0.5s;
}

.localisation {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  font-size: 16px;
  position: relative;
  height: 50px;
  align-items: center;
}
.localisation_icon {
  margin-right: 1rem;
}
.localisation_text {
  font-weight: 500;
}

.search {
  text-align: center;
  padding: 32px 32px 57px;
  background-color: #f6f6f6;
}
.search_title {
  margin: 0;
}
.search_subtitle {
  margin: 20px 0 35px;
  font-weight: 300;
  font-size: 18px;
}
.search_btn {
  border: 0;
  border-radius: 100px;
  padding: 0 24px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-image: linear-gradient(-4deg, #9356DC, #FF79DA);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  height: 50px;
  display: inline-flex;
  align-items: center;
  line-height: 20px;
}
.search_btn:hover {
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.search_btn a {
  text-decoration: none;
  color: inherit;
}

.operation {
  padding: 2rem 1rem;
}
.operation_title {
  margin-top: 0;
}
.operation_lists {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}
@media screen and (min-width: 1024px) {
  .operation_lists {
    display: flex;
  }
}
.operation_count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  left: -12px;
  color: white;
}
.operation_list {
  display: flex;
  position: relative;
  margin: 16px 0 16px 12px;
  padding: 24px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
}
@media screen and (min-width: 1024px) {
  .operation_list {
    margin: 0;
    margin-left: 32px;
    flex: 1;
    justify-content: center;
  }
  .operation_list:first-child {
    margin-left: 12px;
  }
}
.operation_list:first-child {
  margin-top: 0;
}
.operation_list:last-child {
  margin-bottom: 0;
}
.operation_icon {
  margin-right: 16px;
  color: #7e7e7e;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
@media screen and (min-width: 1024px) {
  .restaurants_container {
    position: relative;
    margin: 0 100px 0 100px;
    border-radius: 42px 42px 0 0;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 24px;
  row-gap: 24px;
}
@media screen and (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  display: block;
  position: relative;
  border-radius: 16px;
  background-color: white;
  text-decoration: none;
  color: inherit;
}
.card_img {
  object-fit: cover;
  border: transparent solid 0px;
  border-radius: 16px 16px 0 0;
  box-shadow: none;
  height: 12rem;
  width: 100%;
}
.card_badge {
  position: absolute;
  background-color: #99E2D0;
  color: #1b6150;
  padding: 8px;
  border-radius: 2px;
  top: 16px;
  right: 12px;
}
.card_footer {
  display: flex;
  align-items: center;
  position: relative;
  padding: 16px;
}
.card_footer .like_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  height: 24px;
  width: 24px;
  border: transparent 0px solid;
  padding: 0;
}
.card_footer .like_button:hover {
  opacity: 1;
}
.card_footer .like_button:hover i.menu_like--noBg {
  opacity: 0;
}
.card_footer .like_button:hover i.menu_like--bg {
  opacity: 1;
}
.card_footer .like_button i {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.25s;
  position: absolute;
  top: 0;
  left: 0;
}
.card_footer .like_button i.menu_like--bg {
  opacity: 0;
  background-image: linear-gradient(-4deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  color: transparent;
}
.card_footer .like_button i.menu_like--noBg {
  color: #4b4b4b;
}
.card_content {
  flex: 1;
}
.card_title {
  margin: 0;
  margin-bottom: 4px;
}
.card_subtitle {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
