@use "sass:color";

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$appPadding: 1rem;

body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif ;
    scroll-behavior: smooth;
}

@mixin button {
    border: 0;
    border-radius: 100px;
    padding: 0 24px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-image: linear-gradient(-4deg, $color-primary, $color-secondary );
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    height: 50px;
    display: inline-flex;
    align-items: center;
    line-height: 20px;

    &:hover {
        background-color: white;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.50);
    }

    a {
        text-decoration: none;
        color: inherit;
    }   
}

.container {
    margin: auto;
    max-width: 1280px;
    position: relative;
}

.header {
    padding: $appPadding;
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    z-index: 1000;

    &_logo {
        font-family: "shrikhand", "cursive";
        text-align: center;
        margin: 0;
        
    }
}

.footer {
  background-color: #353535;

  &_container {
    display: flex;
    flex-direction: column;
    padding: 25px 20px 35px 25px;
  }

  &_logo {
    color: white;
    font-family: "Shrikhand", "cursive";
    margin: 0;
    font-size: 19px;
    margin-bottom: 16px;
  }

  &_column {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &_title {
    margin: 8px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
    margin-bottom: 0;
    }
  }

  &_link {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &_icon {
    width: 19px;
    margin-right: 8px;
  }
}

@mixin likeButton {
  .like_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    height: 24px;
    width: 24px;
    border: transparent 0px solid;
    padding: 0;
    
    &:hover {
      opacity: 1;

      i {
        &.menu_like--noBg {
          opacity: 0;
        }

        &.menu_like--bg {
          opacity: 1;
        }
      }
    }

    i {
      display:flex;
      align-items:center;
      justify-content:center;
      transition-duration: .25s;
      position: absolute;
      top: 0;
      left: 0;
        
      &.menu_like--bg {
        opacity: 0;
        background-image: linear-gradient(-4deg, $color-secondary, $color-primary );
        -webkit-background-clip: text;
        color: transparent;
      }

      &.menu_like--noBg {
        color: #4b4b4b;
      }
    }
  }
}

