.menu {

    &_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        background-color: transparent;
        height: 24px;
        width: 24px;
        border: transparent 0px solid;
        padding: 0;
        background-color: black;
        
        &:hover::before {
            opacity: 1;
    }
    
        &::before {
            opacity: 0;
            transition: 0.5s;
            background: linear-gradient(0deg, $color-primary 0%,$color-secondary 100%);
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }



    &_like {
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: .25s;
        background-color: #f6f6f6;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        mix-blend-mode: lighten;
    }

    &_btn:hover {
        .menu_like {
          &--noBg {
            opacity: 0;
          }
        }
    }
}